page-home {
    .home {
        background-color: color($colors, primary);
        color:color($colors, light);
        margin-top: 30px;
    }

    .toolbar-title {
        text-align:center;
    }


    .location {
        text-align: center;
    }

    .temp {
        text-align: center;
        font-size: 90px;
        font-weight: normal;
        color: #FFF;
    }

    .desc {
        text-align: center;
    }

    .location .icon .desc {
        text-align: center;
    }

    .item {
        background-color: color($colors, primary);
    }
}
    // not work ??
    .tabs-md .tab-button-icon {
        color:#ccc;
    }
